html{
    background-color: #121212;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Roboto";
    color:#ffff;
    font-weight: bolder;
}

.nav{
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
    animation-name: slideup;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out;  
}

.center{
    text-align: center;
}

.title{
    font-size: 30px;
    color:#ffff;
    text-align: left;
    margin-bottom: 10px;
}
.aboutmetext{
    font-family: "Roboto";
    color:#ffff;
    text-align: left;
}
.connectwithme{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    color:#ffff;
    text-align: center;
}

.projectcard{
    background-color: #242424;
    width: 250px;
    height: 300px;
    border-radius: 10%;
    transition: transform .5s;
}

.projectcardtitle{
    font-size: 25px;
    color:#ffff;
    text-align: center;
    margin-bottom: 10px;
}
.projectcard:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 60px rgba(255,240,179, 0.4)

}
.buttonhover{

}
.buttonhover:hover{
    transform: scale(1.02);
}

.slideup{
    
}
@keyframes slideup{
    from{
        margin-bottom: 100%;
    }
    to{
        margin-bottom: 0%;
    }
}

@keyframes slideright{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}

.pulsing-text {
    font-weight: bolder;
    font-family: 'Ubuntu';
    font-size: 4em;
    text-align: center;
    color: #fff0b3; 

    animation-name: pulsing-text;
    animation-duration: 8s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes pulsing-text {
    0% {
      color: #fff0b3;
      text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    }
    25% {
      color: #fff0b3;
    }
    35% {
      color: #fff0b3;
    }
    50% {
      color: #ffe680;
      text-shadow: 3px 3px 80px rgba(255, 214, 51, 0.8);
      opacity: 100%;
    }
    60% {
      color: #ffe680;
    }
    65% {
      color: #fff0b3;
    }
    75% {
      color: #fff0b3;
      text-shadow: 0px 0px 150px rgba(255, 255, 255, 0.8);
      opacity: 100%;
    }
    85%{
        color:#121212;
        text-shadow: 0px 0px 0px rgba(18, 18, 18, 0);
    }
    92% {
        color: #fff0b3;
        text-shadow: 0px 0px 90px rgba(255, 255, 255, 0.7);
        opacity: 25%;
      }

    95%{  
        color: #fff0b3; 
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
        opacity: 50%;
    }
    97%{
        color: #fff0b3; 
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
        opacity: 75%;
    }
    100%{
        color: #fff0b3; 
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.7);
        opacity: 100%;
    }
  }